@import '../../commons/scss/vars.scss';

.product-cell{
  margin-top: $primary_margin;
  margin-bottom: $primary_margin;
  border-bottom: 0.5px solid $general_background;
  display: grid;
  grid-template-columns:212px auto 100px;

  .thumbnail-container{
    img{
      width: $thumb_size;
      height: $thumb_size;
      margin-left: $primary_margin;
      margin-right: $primary_margin;
    }
  }

  .product-location{
    h4{
      font-weight: 300;
    }
  }
 
}

@media only screen and (max-width: 700px) {
  .product-cell{
    /*display: block;*/
    grid-template-columns: 212px 250px;
    .thumbnail-container{
      grid-row-end: span 2;
    }
    .product-info{
      padding-left: $primary_margin;
      padding-right: $primary_margin;
      h2{
        display: flex;
      }
      h3{
        word-break: break-all;
      }
    }
    .product-location{
      padding-left: $primary_margin;
      padding-right: $primary_margin;
      grid-column-start: 2;
      h4{
        margin-top: 0px;
      }
    }
  }
}
