@import '../../commons/scss/vars.scss';

#product-detail{
  background-color: $content_background;
  grid-template-columns: 7fr 3fr;
  display: grid;
  border-radius: $primary_round;
.thumbnail-container{
    img{
      width: 680px;  
      margin-top: $primary_margin;
      margin-bottom: $primary_margin;
    }
  }


.product-info{
  h5{
    margin-top: $secondary_margin;
    font-size: $h5_size; 
    font-weight: 300;
  }

  h1{
    margin-top: $primary_margin;
    font-size: $h1_size; 
  }

  h2{
    margin-top: $secondary_margin;
    font-size: $h2_size; 
  }

  button{
    background-color: $secondary_background;
    color: $content_background;
    margin-top: $secondary_margin;
    margin-right: $secondary_margin;
    border-radius: $primary_round;
    padding: $primary_margin;
    width: 200px;
    font-size: $h5_size; 
    font-weight: 300;
  }
}

.product-description{
  padding: $primary_margin;
  h2{
    font-size: $title_size;
  }
  p{
    font-size: $content_size;
    font-weight: 300;
  }
}


}
@media only screen and (max-width: 1200px) {
  #product-detail{
    .thumbnail-container{
      img{
        width: 100%;  
      }
    }
  }
}

@media only screen and (max-width: 800px) {
  #product-detail{
    grid-template-columns: 6fr 4fr;
  }
}

@media only screen and (max-width: 780px) {
  #product-detail{
    grid-template-columns: 1fr;
  }
  .product-info{
    padding: $primary_margin;
  }
  
}