@import './vars.scss';

body{
  background-color: $general_background;
  font-family:system-ui;
  padding:0px;
  margin:0px;
  font-family: Roboto;
  font-weight:400;
}

a{
  text-decoration: none;
  color: $secondary_background;
  &:hover{
    color: $secondary_background;
  }
  &:visited{
    color: $secondary_background_dark;
  }
}

#container{
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

#search-container{
  background-color: $primary_background;
}

@media only screen and (max-width: 780px) {
  #container{
    width: 100%;
  }
}

