/**
* Backgrounds
*/
$primary_background: #FFE600;
$general_background: #EEEEEE;
$general_background_light: #FCFCFC;
$content_background: #FFFFFF;
$secondary_background: #3483FA;
$secondary_background_dark: #0A1D73;
/**
* Font Colors
*/
$primary_color: #333333;
$secondary_color_dark:#666666;
$secondary_color_light:#999999;
/**
* Margins
*/
$primary_margin: 16px;
$secondary_margin: 32px;
/**
* Font Sizes
*/
$h1_size: 24px;
$h2_size: 46px;
$h3_size: 14px;
$h5_size: 14px;
$input_font_size: 18px;
$title_size: 28px;
$content_size: 16px;
$primary_round: 4px;
$thumb_size:180px;