@import '../../commons/scss/vars.scss';

.search-bar{
  margin-left: auto;
  margin-right: auto;
  padding: 5px;
  display: grid;
  grid-template-columns: 10% 60px auto 32px 10%;
  grid-template-rows:  1fr;
  grid-column-gap: 0px;
  -webkit-box-shadow: 0 1px 2px 0 rgba(0,0,0,.2);
    box-shadow: 0 1px 2px 0 rgba(0,0,0,.2);
  input[type=text]{
    border: none;
    width: 100%;
    height: 32px;
    margin-top: 0px;
    float:left;
    -webkit-box-shadow: 0 1px 2px 0 rgba(0,0,0,.2);
    box-shadow: 0 1px 2px 0 rgba(0,0,0,.2);
  }
  button{
    border: none;
    height: 33px;
    margin-top: 0px;
    float:left;
    -webkit-box-shadow: 0 1px 2px 0 rgba(0,0,0,.2);
    box-shadow: 0 1px 2px 0 rgba(0,0,0,.2);
  }
}

@media only screen and (max-width: 780px) {
  .search-bar{
    grid-template-columns: 0% 60px auto 32px 0%;
  }
}